<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
 
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <style media="screen">
  
    body {
      display: flex;
      min-height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #uploader {
      -webkit-appearance: none;
      appearance: none;
      width: 50%;
      margin-bottom: 10px;
    }
  </style>
  
</head>
<body>
    <form action="/insert" method="POST">
    
    <progress value ="0" max ="100" id="uploader">0%</progress>
    <input type="file" value="upload" name="file_name" id="fileButton" />
    <button type = "submit">업로드</button>
  
    </form>
<!--
<script>
   var config = {
          apiKey: "AIzaSyDFw7wQFT3Utzz2TYupqE8fRk6AN4UUkTE",
          authDomain: "shahn920718.firebaseapp.com",
          databaseURL: "https://shahn920718.firebaseio.com",
          projectId: "shahn920718",
          storageBucket: "shahn920718.appspot.com",
          messagingSenderId: "126796965394"
        };
        firebase.initializeApp(config);

    var uploader = document.getElementById('uploader');
    var fileButton = document.getElementById('fileButton');
      fileButton.addEventListener('change',function(e){
      
          var file = e.target.files[0];
      
          var storageRef = firebase.storage().ref('exercise/'+ file.name);
      
          var task = storageRef.put(file);
      
          task.on('state_changed',
      
            function progress(snapshot){
              //프로그래스 바 진행상황
              var percentage = (snapshot.bytesTransferred/snapshot.totalBytes) * 100; 
              uploader.value = percentage;
            },
      
            function error(err) {
      
            },
      
            function complete(){
      
            }
      
        
        );
      
       });
</script>
-->
</body>
</html>