<!DOCTYPE html>
<html>
<head>
<title>Little Flame Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width", initial-scale="1" >
</head>
<body>
       
      <form action="/login" method="POST">
        <label for="inputCode" class="sr-only">Code</label>
				<input type="text" id="inputCode" name="code" class="form-control" placeholder="Code" autocomplete=off>
				<button type="submit">Sign in</button>
      </form>
</body>
</html>