<!DOCTYPE html>
<html>
<head>
<title>Little Flame Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width", initial-scale="1" >
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/cover.css">
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Little Flame Project</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Survey</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </header>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color:#A5A4A4">Invalid Access</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body" style="color:#A5A4A4">
					You can only access it by entering code
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>

            <div class="container">
			  <form class="form-signin" action ="/login" method ="post" style="margin: 15px 25px 15px 25px;">
				<h2 class="form-signin-heading" style="margin: 15px 25px 15px 25px;">Please sign in</h2>
				<label for="inputCode" class="sr-only">Code</label>
				<input type="text" id="inputCode" name="code" class="form-control" placeholder="Code" autocomplete=off>
				<button class="btn btn-outline-secondary" type="submit" style="margin: 15px 25px 15px 25px;">Sign in</button>
			  </form>
			</div>

          <footer class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </footer>
        </div>
      </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>